
body {
  font-family: monarcha, serif;
  font-weight: 300;
  font-style: normal;
  color: #001489;
  background-color: #ffffff;
  font-size: 18px;
}

.aboutus {
  display: block;
  text-align: center;
  padding-top: 28vh;
  padding-left: 2vh;
  padding-right: 2vh;
}

.clientele {
  text-align: center;
  /*---*/
  font-style: normal;
  font-weight: 300;
  /*---*/
}

.clientele-header {

  /*---*/
  font-weight: bold;
  font-style: normal;
  /*---*/

  /* font-family: 'Monarcha-Semibold'; */
  margin-top: 5vh;
  padding: 0vh 1vh;
  background-color: #001489;
  color: white;
  display: inline-block;
  margin-bottom: 1vh;

}


/*-------*/

/* iphone 6/7/8*/
@media only screen
  and (max-device-width: 875px)
   {

     body {
       font-size: 3vw;
     }

     .aboutus {
       padding-top: 18vh;
     }

  }

@media only screen
and (min-device-width : 375px)
and (max-device-width: 812px)
and (-webkit-device-pixel-ratio : 3) {

  body {
    font-size: 3vw;
  }

}
