body {
  background-color: black;
  overflow: hidden; /* Hide scrollbars */
}

img {
  display: block;
  margin: 0 auto;
}

.logo {
  width: 100%;
  margin-bottom: 3%;
}


 @font-face { font-family: 'Syndicat'; src: url('syndicat.otf') format('opentype'); }

nav {

  display: block;
  margin: 0 auto;
  text-align: center;
  font-family: 'Syndicat';
  word-spacing: 7px;

  position: relative;
  margin-top: 40vh;

}

a:link {
  text-decoration: none;
  color: #3B3B3E;
}

a:visited {
  text-decoration: none;
  color: #3B3B3E;
}

a:hover {
  text-decoration: none;
  color: white;
}

a:active {
  text-decoration: none;
  color: #3B3B3E;
}

@media only screen
and (max-device-width: 812px)
{

  body {
    font-size: 36px;
  }

  img {
    display: block;
    margin: 0 auto;
    width: 20%;
  }
}


::-webkit-scrollbar {
    display: none; /* Chrome Safari */
}

-ms-overflow-style: none; /* IE 10+ */

scrollbar-width: none; /* Firefox */
