body {
  background-color: black;
}

img {
  display: block;
  margin: 0 auto;
  margin-top: 20%;
}

.logo {
  width: 100%;
}

.store {
  padding-top: 200%;
}

 @font-face { font-family: 'Syndicat'; src: url('syndicat.otf') format('opentype'); }

nav {

  display: block;
  margin: 0 auto;
  padding-top: 20px;
  text-align: center;
  font-family: 'Syndicat';
}



a:link {
  text-decoration: none;
  color: #3B3B3E;
}

a:visited {
  text-decoration: none;
  color: #3B3B3E;
}

a:hover {
  text-decoration: none;
  color: white;
}

a:active {
  text-decoration: none;
  color: #3B3B3E;
}

@media only screen
and (max-device-width: 812px){

  img {
    display: block;
    margin: 0 auto;
    margin-top: 75%;
    width: 20%;
  }

  .logo {
    width: 100%;
  }

  .store {
    padding-top: 200%;
  }


  nav {

    display: block;
    margin: 0 auto;
    padding-top: 50px;
    text-align: center;
    font-family: 'Syndicat';
    font-size: 4vw;
  }

}




@media only screen
and (min-device-width : 375px)
and (max-device-width: 812px)
and (-webkit-device-pixel-ratio : 3) {

  img {
    display: block;
    margin: 0 auto;
    margin-top: 75%;
    width: 20%;
  }

  .logo {
    width: 100%;
  }

  .store {
    padding-top: 200%;
  }


  nav {

    display: block;
    margin: 0 auto;
    padding-top: 50px;
    text-align: center;
    font-family: 'Syndicat';
    font-size: 4vw;
  }

}


}
