body {
  font-family: helvetica;
  color: white;
  background-color: #2e3946;
  overflow-x: hidden;
}

.masthead {
  text-align: center;
  font-size: 10vh;
  letter-spacing: -5px;
}

.intro {
  text-align: center;
  font-size: 20px;
  margin-left: 2vw;
  margin-right: 2vw;
  margin-bottom: 2vh;
}

.tracktitle img {
  height: 5vh;
  padding-bottom: 2vh;
  margin-left: 50%;
  transform: translate(-50%);
}

iframe {
  margin-top: 3vh;
  margin-left: 50%;
  transform: translate(-50%);
  margin-bottom: 5vh;

}

.photo img {
  width: 20vw;
  padding-bottom: 2vh;
  margin-left: 50%;
  transform: translate(-50%);
}

audio {
  margin-bottom: 5vh;
  margin-left: 50%;
  transform: translate(-50%);
}
