
body {
  font-family: monarcha, serif;
  font-weight: 300;
  font-style: normal;
  color: #001489;
  background-color: #ffffff;
  font-size: 18px;
}

/*
.video-wrapper {
  width: 100%;
  text-align: center;
  margin: 0 auto;
}

.video iframe {
  width: 1440px;
  height: 720px;
}
*/

.video-wrapper {
  width: 60%;
  text-align: center;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

.video {
  position: relative;
  padding-bottom: 56.25%;
  overflow: hidden;
  display: block;
}

.video iframe {
  display: flex;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.projCredits {
  margin: auto 20vw;
  margin-top: 8vh;
  text-align: center;
  display: block;
  transform: translateY(20vh);
  line-height: 4vh;
}

.projInfo {
  margin: auto 20vw;
  padding-top: 20vh;
  text-align: center;
  display: block;
  font-size: 16px;
  line-height: 15px;
}

.projCredits {
  margin: auto 20vw;
  margin-top: 50px;
  text-align: center;
  display: block;
  transform: translateY(20vh);
  line-height: 50px;
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/*-------*/

/*
@media only screen
and (max-device-width: 812px)
{

  .nav {
    position: relative;
    margin-top: 17%;
    min-height: 40px;
    font-size: 36px;
    word-spacing: 10px;
  }


  #logo {
    display: block;
  }

  .grid-container {
  display: flex !important;
  align-items: center;
  width: 80%;
  }

  .row {
  width: 100%;
  }

  .c1, .c2, .c3, .c4, .c5, .c6, .c7, .c8, .c9 {
  background-color: #ffffff !important;
  margin-top: 2vh;
  width: 100%;
  height: auto !important;
  }
  }
*/

@media only screen
and (min-device-width : 375px)
and (max-device-width: 812px)
and (-webkit-device-pixel-ratio : 3) {

  body {
    color: #001489;
    background-color: #ffffff;
  }

  .nav {
    position: relative;
    margin-top: 17%;
    min-height: 40px;
    font-size: 36px;
    word-spacing: 10px;
  }

  #logo {
    display: block;
  }

  .grid-container {
  display: flex !important;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: auto !important;
  }

  .row {
  width: 100%;
  }

  .c1, .c2, .c3, .c4, .c5, .c6, .c7, .c8, .c9 {
  background-color: #ffffff !important;
  margin-top: 2vh;
  width: 100%;
  height: auto !important;
  }

  .video-wrapper {
  width: 90%;
  }

  .projInfo {
  margin: auto;
  padding-top: 14vh;
  text-align: center;
  display: block;
  font-size: 50px;

  }
}
